.button {
  width: 150px;
  padding: 8px 0;
  text-align: center;
  background-color: $grey-container-fill;
  margin: 15px auto;
  border: 1px solid $grey-container-border;
  border-radius: 20px;
  color: $grey-font;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: $blue-header;
    border: none;
    color: white;
  }
  &.picker__button {
    margin: 20px auto 0 auto;
    @include bp-medium {
      margin: 15px auto;
    }
  }
  &.large {
    padding: 1em;
    font-weight: bold;
  }
  .buttonInner {
    width: 80%;
    margin: 0 auto;
    @include flex-row;
  }
  .arrow {
    width: 20px;
  }
}
