.button {
  width: 150px;
  padding: 8px 0;
  text-align: center;
  background-color: $grey-container-fill;
  margin: 15px auto;
  border: 1px solid $grey-container-border;
  border-radius: 20px;
  color: $grey-font;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: $blue-header;
    border: none;
    color: white;
  }
}
