.dashboard__header {
  width: calc(100% - 40px);
  color: white;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    width: 50px;
  }
  h4 {
    margin: 0 0 10px 0;
  }
  @include bp-medium {
    margin: 30px auto 0 auto;
    img {
      width: 150px;
    }
  }
}
.dashboard__headerInner {
  display: flex;
  justify-content: space-between;
}
.header {
  flex: 0 0 15%;
  background-color: #136FFF;
  letter-spacing: 0.5px;
  @include flex-row;
  @include bp-medium {
    flex: 0 0 15%;
    height: 100vh;
    @include flex-column;
  }
}
.header__teamPicker {
  background-color: none;
  padding: 0.5em 0.8em;
  border: 1px solid white;
  color: white;
  max-width: 120px;
  max-height: 30px;
  margin: 20px auto;
  &:hover {
    cursor: pointer;
  }
  @include bp-medium {
    padding: 0.8em 1em;
  }
}
.countdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  div {
    margin: 0 0 10px 0;
  }
}
.countdown__inner {
  text-align: center;
  div, h1 {
    margin: 0 0 3px 0;
  }
}
