@import './mixins';
@import './colours';
@import './headBlocks';
@import './header';
@import './picker';
@import './weather';
@import './button';
@import './teamPicker';
@import './calendar';
@import './spotify';
@import './mainNav';
@import './spinner';

html,body{
  height:100%;
  font-family: "Karla", sans-serif;
}
.App {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../images/background.png')
}
body {
  margin: 0;
}
#root {
  height: 100%;
}
.main__container {
  display: flex;
  background-color: #EEF3F7;
  padding: 20px;
  flex: 0 0 85%;
  @include bp-medium {
  }
}
.container {
  width: 100%;
  @include flex-column;
  @include bp-medium {
    @include flex-row;
  }
}
.main__containerInner {
  flex: 0 0 50%;
  padding: 20px;
  overflow: scroll;
  @include flex-column;
  @include bp-medium {
    &.vertical {
      flex: 0 0 34%;
    }
    &.horizontal {
      flex: 0 0 60%;
    }
  }
}
.main__containerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  background-color: white;
  border: 1px solid #F0F3F6;
  border-bottom: none;
  border-radius: 5px;
  margin: 0 10px;
  @include flex-column;
  &.vertical, &.horizontal {
    flex: 1 1 49%;
    margin-bottom: 10px;
  }
}
.main__containerItem--header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 20px;
  background-color: #F4F8F9;
  border-bottom: 1px solid #f3f4f5;
  padding: 15px 0;
  text-align: center;
  color: 	#3d464d;
  font-weight: bold;
  letter-spacing: 0.5px;
}
