.mainNav {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
}
.mainNav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mainNav__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 100px;
  flex: 0 0 35%;
  background-color: #420dab;
  border-radius: 10px;
  margin-bottom: 20px;
  img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  &:hover {
    cursor: pointer;
  }
}
.miniNav {
  display: flex;
  justify-content: center;
  height: 50px;
}
.miniNav__wrapper {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.miniNav__button {
  flex: 0 0 10%;
  img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}
