.picker__wrapper {
  background-color: white;
  margin-top: 40px;
  @include flex-row;
  justify-content: space-around;
  .button {
    margin-bottom: 0;
  }
}
.picker__actionButton {
  width: 150px;
  padding: 10px 5px;
  background-color: white;
  margin: 15px auto;
  font-weight: bold;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
  }
}
