.spotify__image {
  width: 100px;
  margin: auto;
  bottom: 0;
  &:hover {
    cursor: pointer;
  }
  @include bp-medium {
    width: 150px;
  }
}
.spotify__link {
  display: block;
  margin: 0 auto;
}
