.teamPicker__button--wrapper {
  @include flex-row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .button {
    margin: 5px;
    flex: 0 0 45%;
    @include bp-medium {
      flex: 0 0 30%;
    }
  }
}
.teamPicker__wrapper {
  @include flex-column;
}
.teamPicker__submit {
  width: 50%;
  margin: 0 auto;
  border: 1px solid $grey-font;
}
.teamPicker__innerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .button {
    flex: 0 0 44%;
    margin: 0 5px;
    color: white;
  }
}
