.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
}
.weather__wrapper {
  display: flex;
  justify-content: center;
}
.weather__icon {
  max-width: 20px;
  margin-left: 15px;
}
.weather__desc, .weather__temp {
  color: $grey-font;
  text-align: center;
}
