html,body{
  height:100%
}

body {
  padding: 30px;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  &.space-around {
    justify-content: space-around;
  }
}
.header {
  position: relative;
  top: -38px;
  left: -38px;
  width: 100vw;
  z-index: 3;
}
.header__image {
  height: 100px;
}
// header
.header__wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

// headBlocks
.headBlock {
  flex: 0 0 48%;
}
.headBlock__nameImage {
  max-height: 50px;
  margin: 0 auto;
}
.headBlock__questionMark {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.headBlock__inner {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.headBlock__image {
  height: 100px;
  margin: 0 auto;
}

//picker
.picker__wrapper {
  display: flex;
  justify-content: space-around;
}

// button
.picker__actionButton {
  width: 150px;
  padding: 10px 5px;
  background-color: white;
  margin: 15px auto;
  font-weight: bold;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
  }
}

//hearts
.heart {
  background-color: red;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  position: relative;
  top: -75px;
  transition: top ease #{(random(7)/2)+ 3}s;
  &.move {
    top: 100vh;
  }
  &.one {
    left: percentage(random(100) / 100);
  }
  &.two {
    left: percentage(random(100) / 100);
  }
  &.three {
    left: percentage(random(100) / 100);
  }
  &.four {
    left: percentage(random(100) / 100);
  }
  &.five {
    left: percentage(random(100) / 100);
  }
}
.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
.heart:before {
  top: -15px;
  left: 0;
}

//teampicker
.teamPicker__button {
  padding: 1em;
  border: 1px solid black;
}
.teamPicker__button--wrapper {
  display: flex;
  justify-content: space-around;
}

//eliminator
.eliminator__button {
  border-radius: 3px;
  padding: 5px 20px;
  border: 1px solid #3897f0;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  &.active {
    color: white;
    background-color: #3897f0;
  }
  &.inactive {
    background-color: white;
    color: #3897f0;
  }
  &.person {
    flex: 0 0 15%;
  }
}
